@font-face {
    font-family: invisible;
    src: url('Invisible-ExtraBold.otf');
}
@font-face {
    font-family: metal;
    src: url('DeathMohawk_PERSONAL_USE_ONLY.otf');
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: invisible;
    color: #b51f1f;
    background-color: #1f1f1f;
    text-transform: capitalize;

}
button{
    padding:5px 10px ;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 150%;
}
h1{
    margin-left: 10px;
}


nav a {
    margin-top:50px;
    background-color:#544a48;
    color: #cfc3c2;
    font-size: 100px;
    letter-spacing: 7px;
    text-decoration: none;
    margin: 0px 5%; 
    padding:5px 10px;
    text-transform: capitalize;
    font-family: metal;
    
}

nav a:hover {
    background-color:grey;
    color: #b51f1f;
    border-radius:30px;
    font-family: invisible;
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: 50px;
}
nav {
    background-color: #544a48 ;
    text-align: center;
    margin-bottom: 20px;
    padding:10px 10px; 
    box-shadow: 0px 0px 20px #b51f1f;  
} 
.contact {
    padding-left: 20px;
    text-transform: capitalize;
}
.gallery {
    width: 90%;
    margin: 10px auto;
    display: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    
}
video {
    width:100%;
}
.bigBoy {
    grid-column: 1/3;
}
.txt-box{
    margin-left: 600px;
    font-size: 150%;
    margin-top: 50px;
}
.moosic {
    margin-left: 50px;
  
}
.moosic2 {
    margin-left: 1190px;
  
}