@font-face {
    font-family: penis;
    src: url('Invisible-ExtraBold.otf');
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

nav a {
    color: rgb(207, 0, 248);
    font-size: 40px;
    text-decoration: none;
    margin: 0px 5%; 
    padding:5px 10px;
    text-transform: capitalize;
    
    font-family: penis;
}

nav a:hover {
    background-color:grey;
    color: #023670;
    border-radius:30px;
    
}
nav {
    background-color: (#000);
    text-align: center;
    margin-bottom: 20px;
    padding:10px 0px; 
    box-shadow: 0px 0px 20px #023670;  
} 